body,
html {
  width: 100%;
  height: 100%;
  background: url("../assets/4k-astrology-1146134-1920-1080.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100%;
}

/* APP STYLES */
.app {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
/* END APP STYLES */

/* NAV STYLES */
.custom-navbar {
  width: 100%;
  background-color: #212121;
  z-index: 1000;
  opacity: 0.8;
}

.custom-navbar:hover {
  opacity: 1;
}

.custom-navbar .navbar-brand {
  margin-right: 25px;
  margin-left: 15px;
}

.custom-navbar .navbar-nav .nav-item {
  font-weight: bold;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-toggler {
  margin-right: 15px;
}
/* END NAV STYLES */

/* HOME STYLES */
#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* END HOME STYLES */

/* ABOUT ME STYLES */
.about-me canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-me .scene-nav-info {
  position: relative;
  top: 15px;
  font-size: 1em;
  opacity: 1;
  z-index: 1;
}
/* END ABOUT ME STYLES */

/* HIRE STYLES */
.hire {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.hire .search-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hire .search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.hire .search-results .card {
  width: 18rem;
  background-color: #212121;
  margin: 15px;
}

.card-img {
  opacity: 0.25;
}
/* END HIRE STYLES */

/* CONTACT STYLES */
.contact {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .content {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contact .content .nav-link {
  width: 125px;
}

.custom-iton {
  margin: 0;
}
/* END CONTACT STYLES */

/* EXPLORE STYLES */
.explore {
  width: 100%;
  height: calc(100vh - 56px);
}

#xterm-container {
  width: 100%;
  height: 100%;
}

.terminal {
  height: 100%;
}

.xterm {
}

.xterm-viewport {
}

.xterm-screen {
}

.xterm-helpers {
}

.xterm-text-layer {
}

.xterm-selection-layer {
}

.xterm-link-layer {
}

.xterm-cursor-layer {
}

/* END EXPLORE STYLES */

/* MEDIA QUERIES */
@media (max-width: 1280px) {
  body {
    background: url("../assets/4k-astrology-1146134-1280-720.jpg") no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

@media (max-width: 640px) {
  body {
    background: url("../assets/4k-astrology-1146134-640-360.jpg") no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}
/* END MEDIA QUERIES */
