.custom-navbar {
  width: 50%;
}

.custom-navbar .navbar-brand {
  margin-left: 15px;
  margin-right: 25px;
}

.custom-navbar .navbar-nav .nav-item {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.custom-navbar .nav-item.active .nav-link,
.custom-navbar .nav-item:hover .nav-link {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .custom-navbar {
    width: 100%;
  }
}
