.home {
  height: 95vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.pexel p {
  font-size: .8em;
  align-self: center;
  color: #ffffff;
  margin: 15px;
}

.pexel a {
  color: #ffffff;
}

.pexel a:hover {
  color: #ffffff;
  border-radius: 5px;
}
