.home {
  height: 100%;
}

.pexel {
  color: #fff;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin-right: 15px;
}

.pexel p {
  font-size: 0.8em;
  margin: 15px;
}

.pexel p,
.pexel a,
.pexel a:hover {
  color: #ffffff;
}
