body {
  background: url('../../assets/4k-astrology-1146134-1920-1080.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
