.xterm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 28px;
  overflow: auto;
}

.xterm-screen {
  width: 100%;
  height: auto;
}
