* {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.scene-nav-info {
  color: #ffffff;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2000;
}

.github-corner .octo-bg {
  fill: #000;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media (max-width: 992px) {
  .github-corner {
    display: none;
  }
}
